/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.ratePanel {
  font-size: 11px;
}
.ratePanel .value {
  margin-right: 9px;
  color: #fdc401;
}
.ratePanel .times {
  margin-left: 11px;
  color: #333333;
}
