.loginPage-header {
  height: 100px;
  background-color: #ffffff;
  position: relative;
  border: 1px solid #e1e1e1;
  margin-bottom: 75px;
}
.loginPage-header-close {
  width: 115px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #e1e1e1;
  display: flex;
  cursor: pointer;
}
.loginPage-header-close.logo {
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  width: 200px;
  border-left: 0;
}
.loginPage-header-close a {
  display: flex;
  width: 100%;
}
.loginPage-header-close a .icon {
  margin: auto;
}
#bugfix {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background: url("../../img/bugfix.png");
  cursor: pointer;
  background-size: 100px 100px;
  z-index: 9999999999999999999;
  border: 0;
  outline: 0;
}
.reg-auto-complete {
  border-bottom: 1px solid #e1e1e1;
  font-size: 13px;
  font-variant: tabular-nums;
  color: #e1e1e1;
}
.reg-auto-complete .ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
  margin-left: 0px !important;
}
.reg-auto-complete .new-input.effect.ant-select-focused ~ label.new-input.has-content.effect ~ label {
  color: black;
}
.logo {
  position: absolute;
  left: 0;
  height: 100px;
  padding: 24px 70px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img {
  display: block;
  background-image: url('../../img/logo.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  width: 210px;
}
.logo-img:hover {
  cursor: pointer;
}
.ant-select-selection__placeholder {
  font-family: 'GothamPro-Light';
  font-size: 14px;
  line-height: 1;
  color: black;
  margin-left: 0px !important;
}
