.loginPage{

  &-header{
    height: 100px;
    background-color: #ffffff;
    position: relative;
    border: 1px solid #e1e1e1;
    margin-bottom: 75px;

    &-close{
      width: 115px;
      height: 100px;
      position: absolute;
      top: 0;
      right: 0;
      border-left: 1px solid #e1e1e1;
      display: flex;
      cursor: pointer;

      .icon{
        margin: auto;
      }
    }
  }
}
