.ant-card-body {
  padding: 0 !important;
}
.receptions-personal-page {
  position: relative;
}
.receptions-personal-page .ant-card {
  width: 100%;
}
.receptions-personal-page .tableheader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 22.5px 32.5px;
  background-color: #fff;
  border: none;
  position: sticky;
  top: 0;
}
.receptions-personal-page .tableheader-name {
  color: #777777;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
}
.receptions-personal-page .tableheader.menu-header {
  padding: 22.5px 0;
  background-color: #fff2f6;
  justify-content: flex-start;
  top: 66px;
}
.receptions-personal-page .tableheader.menu-header .flex-col:first-child {
  margin-left: 3%;
}
.receptions-personal-page .tableheader.menu-header .flex-col:last-child {
  margin-right: 1%;
}
.receptions-personal-page .tableheader.menu-header .flex-col:nth-child(1) {
  width: 11%;
}
.receptions-personal-page .tableheader.menu-header .flex-col:nth-child(2) {
  width: 15%;
}
.receptions-personal-page .tableheader.menu-header .flex-col:nth-child(3) {
  width: 15%;
}
.receptions-personal-page .tableheader.menu-header .flex-col:nth-child(4) {
  width: 6%;
}
.receptions-personal-page .tableheader.menu-header .flex-col:nth-child(5) {
  width: 15%;
}
.receptions-personal-page .tableheader.menu-header .flex-col:nth-child(6) {
  width: 15%;
}
.receptions-personal-page .tableheader.menu-header .flex-col:nth-child(7) {
  width: 7%;
}
.receptions-personal-page .tableheader .ico-btn {
  display: flex;
}
.receptions-personal-page .tableheader .flex-col {
  margin-right: 2%;
}
.receptions-personal-page .tableheader .flex-col .receptions-status {
  position: relative;
  top: 0;
  left: 0;
}
.receptions-personal-page .table-footer {
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
