.registration-patient-form {
  max-width: 850px;
  width: 100%;
  padding: 75px 100px;
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  /* Параметры тени */
  background-color: #ffffff;
}
.registration-patient-form .personal-btn {
  margin-bottom: 35px;
}
.registration-patient-form .ant-form-item {
  position: relative;
  margin-bottom: 35px;
}
.registration-patient-form .ant-form-item .has-error .input-root-focus {
  border-bottom: #ff4242 1px solid;
}
.registration-patient-form .ant-form-item .has-error .input-root {
  border-bottom: #ff4242 1px solid;
}
.registration-patient-form .ant-form-item .has-error .ant-input:focus {
  box-shadow: none;
}
.registration-patient-form .ant-form-item .has-error .ant-input-group-addon {
  color: #777777;
}
.registration-patient-form .ant-form-item .ant-form-explain {
  position: absolute;
  top: 45px;
}
.registration-patient-form-item .ant-input-group-addon:first-child {
  text-align: left;
}
.registration-patient-form-navlink {
  color: #21bedd;
  font-size: 14px;
  line-height: 1;
}
.registration-patient-form-navlink:hover {
  color: #21bedd;
}
.registration-patient-form-control {
  text-align: center;
}
.registration-patient-form-control button {
  margin-bottom: 50px;
}
.registration-patient-form .avatar-uploader .avatar-image {
  max-width: 300px;
  max-height: 300px;
}
.registration-patient-title {
  font-family: "RobotoBold";
  font-size: 44px;
  line-height: 1;
  letter-spacing: -0.88px;
  color: #333;
  margin-bottom: 60px;
}
.registration-patient-posttitle {
  font-family: "RobotoRegular";
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}
.registration-patient-notification {
  font-family: "RobotoLight";
  font-size: 12px;
  line-height: 1;
  color: #333;
  margin-bottom: 35px;
}
.registration-patient-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.registration-patient-row .ant-form-item {
  width: 47.5%;
  margin-bottom: 0;
}
.registration-patient-row .ant-form-item .radio-label {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}
.registration-patient-row .ant-form-item .ant-radio-group {
  margin-left: auto;
}
.registration-patient-row .ant-form-item .datepicker-base {
  display: flex;
  width: 115px;
  margin-left: auto;
}
.registration-patient-row .ant-form-item .datepicker-base .ant-calendar-picker {
  border-bottom: none;
  width: 100%;
  min-width: auto;
  max-width: none;
}
.registration-patient-row .ant-form-item .datepicker-base .ant-calendar-picker-input {
  height: 40px;
}
.registration-patient-avatar .upload {
  padding: 20px;
  border: 1px dashed #e1e1e1;
}
.registration-patient-avatar .upload .ant-upload-list-item {
  width: 48%;
}
.registration-patient-avatar .upload .ant-upload-list-item-actions {
  transform: translate(-145%, -50%);
}
.step-patient-form {
  width: 100%;
  border: none;
  background-color: #ffffff;
}
.step-patient-form .ant-form-item {
  position: relative;
  margin-bottom: 35px;
}
.step-patient-form .ant-form-item .has-error .input-root-focus {
  border-bottom: #ff4242 1px solid;
}
.step-patient-form .ant-form-item .has-error .input-root {
  border-bottom: #ff4242 1px solid;
}
.step-patient-form .ant-form-item .has-error .ant-input:focus {
  box-shadow: none;
}
.step-patient-form .ant-form-item .has-error .ant-input-group-addon {
  color: #777777;
}
.step-patient-form .ant-form-item .ant-form-explain {
  position: absolute;
  top: 45px;
}
.step-patient-form-item .ant-input-group-addon:first-child {
  text-align: left;
}
.step-patient-form-navlink {
  color: #21bedd;
  font-size: 14px;
  line-height: 1;
}
.step-patient-form-navlink:hover {
  color: #21bedd;
}
.step-patient-form-control {
  text-align: center;
}
.step-patient-form-control button {
  margin-bottom: 50px;
}
.step-patient-title {
  font-family: "RobotoBold";
  font-size: 44px;
  line-height: 1;
  letter-spacing: -0.88px;
  color: #333;
  margin-bottom: 60px;
}
.step-patient-posttitle {
  font-family: "RobotoRegular";
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}
.step-patient-notification {
  font-family: "RobotoLight";
  font-size: 12px;
  line-height: 1;
  color: #333;
  margin-bottom: 50px;
}
.step-patient-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.step-patient-row .ant-form-item {
  width: 47.5%;
  margin-bottom: 0;
}
.step-patient-row .ant-form-item .radio-label {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}
.step-patient-row .ant-form-item .ant-radio-group {
  margin-left: auto;
}
.step-patient-row .ant-form-item .datepicker-base {
  display: flex;
  width: 115px;
  margin-left: auto;
}
.step-patient-row .ant-form-item .datepicker-base .ant-calendar-picker {
  border-bottom: none;
  width: 100%;
  min-width: auto;
  max-width: none;
}
.step-patient-row .ant-form-item .datepicker-base .ant-calendar-picker-input {
  height: 40px;
}
.step-patient-avatar .upload {
  padding: 20px;
  border: 1px dashed #e1e1e1;
}
.step-patient-avatar .upload .ant-upload-list-item {
  width: 48%;
}
.step-patient-avatar .upload .ant-upload-list-item-actions {
  transform: translate(-145%, -50%);
}
.step-patient-block {
  position: relative;
  margin-bottom: 45px;
}
.step-patient-block-title {
  color: #21bedd;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: "RobotoMedium";
}
.step-patient-block-title-post {
  font-size: 16px;
  color: #333;
  line-height: 1;
  margin-bottom: 30px;
  font-family: "RobotoMedium";
}
.step-patient-block .datepicker-base {
  width: 100%;
  display: block;
}
.step-patient-block .datepicker-base-range {
  display: flex;
  justify-content: space-between;
}
.step-patient-block .datepicker-base .ant-calendar-picker {
  width: 100%;
  max-width: 47.5%;
}
.step-patient-block-item {
  margin-bottom: 10px;
  position: relative;
}
.step-patient-block-item:first-child {
  margin-top: 30px;
  border-top: 1px dashed #dcdcdc;
  padding-top: 30px;
}
.step-patient-block-item .datepicker-base {
  width: 100%;
  display: block;
}
.step-patient-block-item .datepicker-base-range {
  display: flex;
  justify-content: space-between;
}
.step-patient-block-item .datepicker-base .ant-calendar-picker {
  width: 100%;
  max-width: 47.5%;
}
.step-patient-block .step-row .datepicker-base {
  width: 100%;
  margin-left: 0;
}
.step-patient-block .step-row .datepicker-base .ant-calendar-picker-input {
  border-bottom: 1px solid #e1e1e1;
}
.step-patient-block .radio-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.step-patient-block .radio-label .ant-radio-group {
  margin-left: 40px;
}
.step-patient-block .radio-label .ant-radio-group .ant-radio-wrapper {
  margin-left: 35px;
}
.check-row {
  display: flex;
  margin-bottom: 0;
}
.check-title {
  max-width: 200px;
  width: 100%;
  color: #777;
}
.check-text {
  font-size: 14px;
  line-height: 34px;
  color: #333;
}
.steps-action {
  margin: 50px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
