/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.doctor-page-new-visit {
  padding: 0 !important;
}
.doctor-page-new-visit .ant-card-body .new-visit-content {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}
.doctor-page-new-visit .ant-card-body .new-visit-content .calendar-carousel {
  align-self: center;
}
.doctor-page-new-visit .ant-card-body .new-visit-content .legend {
  font-family: "GothamPro";
  display: flex;
  flex-direction: column;
}
.doctor-page-new-visit .ant-card-body .new-visit-content .legend .AppAfterAnalyses,
.doctor-page-new-visit .ant-card-body .new-visit-content .legend .AppWithVideoAudio {
  display: inline-block;
}
.doctor-page-new-visit .ant-card-body .new-visit-content .legend .AppAfterAnalyses:before,
.doctor-page-new-visit .ant-card-body .new-visit-content .legend .AppWithVideoAudio:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}
.doctor-page-new-visit .ant-card-body .new-visit-content .legend .AppAfterAnalyses:before {
  background-color: #ffeeb5;
}
.doctor-page-new-visit .ant-card-body .new-visit-content .legend .AppWithVideoAudio:before {
  background-color: #afafaf;
}
.doctor-page-new-visit .ant-card-body .new-visit-content .typeOfVisit {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.doctor-page-new-visit .ant-card-body .new-visit-content .typeOfVisit > span {
  display: inline-block;
  margin-right: 40px;
}
.doctor-page-new-visit .ant-card-body .new-visit-content > button {
  width: 50%;
  margin-top: 30px;
}
