/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.new-doctor-item {
  display: flex;
  align-items: center;
  padding: 18px 85px 18px 30px;
  cursor: pointer;
}
.new-doctor-item:nth-child(even) {
  background-color: #f0f9ff;
}
.new-doctor-item:hover {
  background-color: #fffbec;
}
.new-doctor-avatar {
  position: relative;
  margin-right: 20px;
}
.new-doctor-info {
  display: flex;
  flex-direction: column;
}
.new-doctor-name {
  font-size: 14px;
  line-height: 18px;
  color: #204d8d;
}
.new-doctor-age {
  font-size: 14px;
  line-height: 18px;
  color: #888;
}
.new-doctor-btn {
  margin-left: auto;
}
.new-doctor-btn .btn .icon {
  margin-right: 0;
  font-size: 30px !important;
  color: #204d8d;
}
.new-doctor-btn .btn:hover .icon {
  color: #0495ff;
}
