/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.popover-file-body {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 345px;
  position: relative;
  padding: 25px 45px 45px 30px;
}
.popover-file-body .btn {
  position: absolute;
  bottom: 25px;
  right: 20px;
}
.popover-remedy {
  max-width: 415px;
}
.popover-remedy .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0!important;
  color: #344051 !important;
  outline: none;
}
.popover-remedy .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  font-size: 16px !important;
  line-height: 1 !important;
  transform: rotate(-90deg);
  width: 16px;
  height: 16px;
  min-width: 16px;
  right: 0;
  position: absolute;
  top: auto;
  bottom: auto;
}
.popover-remedy .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow:before {
  content: "\E90C";
}
.popover-remedy .ant-collapse > .ant-collapse-item {
  border-bottom: none;
  border-radius: 0;
}
.popover-remedy .ant-collapse > .ant-collapse-item:last-child {
  margin-bottom: 0;
}
.popover-remedy .ant-collapse > .ant-collapse-item-active {
  border: none;
}
.popover-remedy .ant-collapse > .ant-collapse-item-active .ant-collapse-header {
  font-family: 'RobotoMedium';
}
.popover-remedy .ant-collapse > .ant-collapse-item-active .ant-collapse-header .arrow {
  transform: rotate(0);
}
.popover-remedy .ant-collapse-content {
  border: none;
  padding: 0;
}
.popover-remedy .ant-collapse-content-active {
  border: none;
}
.popover-remedy .ant-collapse-content .patient-contacts-title {
  font-size: 11px;
  margin-bottom: 5px;
}
.popover-remedy .ant-collapse-content .patient-contacts-title span {
  position: absolute;
  right: 0;
}
.popover-remedy .ant-collapse-content .link {
  font-size: 12px;
}
.popover-remedy .ant-collapse-content .link .anticon {
  margin-right: 5px;
}
.popover-remedy .ant-collapse-content .link:hover {
  text-decoration: none;
  opacity: 0.8;
}
.remedy__list {
  max-height: 110px;
}
.remedy__list .scrollbar-container.vertical {
  right: 0;
}
.remedy__item {
  margin-bottom: 20px;
}
.remedy__item:last-child {
  margin-bottom: 0;
}
