.lastTrainings .ant-card-body {
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lastTrainings .ant-card-body:before,
.lastTrainings .ant-card-body:after {
  display: none;
}
.lastTrainings-scroll {
  padding: 30px!important;
}
.lastTrainings-link {
  font-family: RobotoRegularItalic, sans-serif;
  font-size: 14px;
  color: #111;
}
.lastTrainings .noTrainings {
  font-family: RobotoBlack, sans-serif;
  text-align: center;
  font-size: 20px;
  color: #777;
}
.lastTrainings-link {
  padding: 0 !important;
  padding-right: 8px !important;
  color: #000;
  display: inline-flex;
  flex-direction: row-reverse;
}
.lastTrainings-link .icon {
  margin: 0 10px;
  color: #000;
  font-size: 24px !important;
}
.lastTrainings-link span {
  color: #000;
}
.ant-card-head {
  border-radius: 10px 10px 0 0;
}
.ant-card-head-title {
  font-size: 20px;
  font-family: RobotoRegularItalic, sans-serif;
  padding-right: 0;
  color: #111;
  font-style: italic;
}
