.new-patient-item {
  display: flex;
  align-items: center;
  padding: 18px 85px 18px 30px;
  cursor: pointer;
}
.new-patient-item:hover {
  background-color: rgba(33, 190, 221, 0.1);
}
.new-patient-avatar {
  position: relative;
  margin-right: 20px;
}
.new-patient-info {
  display: flex;
  flex-direction: column;
}
.new-patient-name {
  font-family: RobotoBlack, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #21bedd;
}
.new-patient-age {
  font-family: "Myriad", sans-serif;
  font-weight: 400;
  color: #111;
  font-size: 14px;
  line-height: 18px;
}
.new-patient-btn {
  margin-left: auto;
}
.new-patient-btn .btn .icon {
  margin-right: 0;
  font-size: 30px !important;
  color: #204d8d;
}
.new-patient-btn .btn:hover .icon {
  color: #21bedd;
}
