.textarea{

  &-label{
    color: #111;
    font: 14px/30px "RobotoMedium", serif;
  }

  &-field{
    font-size: 14px;
    resize: none;
    height: 159px;
    width: 100%;
    padding: 7px 20px;
    color: #111;
    border-color: #111;
    &:focus{
      outline: 0;
    }
  }
}