.panelItem {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    position: relative;
    border: 2px solid #21bedd;
    border-radius: 100%;
    color: #21bedd;
    &-value, &-description {
        height: 50%;

    }
    &-value {
        display: flex;
        align-items: flex-end;
        max-width: 80%;
        text-align: center;
        color: #21bedd;
        font-size: 30px;
        font-family: RobotoMedium, sans-serif;
        margin-bottom: 5px;

    }
    &-description {
        max-width: 75%;
        text-align: center;
        color: #111;
        font-size: 18px;
        line-height: 24px;
        font-family: RobotoMediumItalic, sans-serif;
    }
}