:global(.ant-menu-item) {
  padding: 0 !important;
  display: flex;
  overflow: visible !important;
  height: 62px !important;
  margin: 5px 0 !important;
}
:global(.ant-menu-item) > a {
  margin: auto 0 auto 40px;
}
.ant-menu-item-selected {
  background-color: transparent !important;
}
.ant-menu-inline .ant-menu-item:last-child .selectedNavLink {
  padding: 0 25px;
}
.ant-menu-inline .ant-menu-item:after {
  border: none;
}
.sidenav-root {
  width: 340px;
  position: absolute;
  height: 100%;
  border-right: 1px solid #e8e8e8;
  transition: 0.2s linear;
  min-height: 840px;
}
.sidenav-root a {
  transition: none!important;
}
.sidenav-root .icon,
.sidenav-root .anticon,
.sidenav-root .item-title {
  transition: 0.2s color linear !important;
}
.sidenav-root .doctorProfileCard-specialty {
  margin-bottom: 25px;
}
.sidenav-root .logo {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 24px 0;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav-root .logo-img {
  display: block;
  background-image: url('../../img/logo.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 65px;
  width: 160px;
}
.sidenav-root .logo-img:hover {
  cursor: pointer;
}
.sidenav-root-short {
  width: 170px;
}
.sidenav-root-short .logo-img {
  background-image: url('../../img/logo-small.png');
  height: 51px;
  width: 85px;
}
.sidenav-root-short .logo-img:hover {
  cursor: pointer;
}
.sidenav-root-short a {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 55px;
}
.sidenav-root-short a:hover {
  text-decoration: none;
  color: #21bedd;
}
.sidenav-root-short a:before {
  display: none;
}
.sidenav-root-short a:active:before {
  display: none;
}
.sidenav-root-short a .icon,
.sidenav-root-short a .anticon {
  width: auto;
  margin: 0!important;
}
.sidenav-root-short li.ant-menu-item-selected a {
  padding-bottom: 10px;
  border-bottom: 4px solid #21bedd;
}
.sidenav-root .ant-menu-inline {
  border-right: none;
}
.sidenav-root-menu a:hover {
  text-decoration: none;
  color: #21bedd;
}
.sidenav-root-menu a:hover .icon,
.sidenav-root-menu a:hover .anticon {
  color: #21bedd;
}
.sidenav-root-menu a:before {
  display: none;
}
.sidenav-root-menu a:active:before {
  display: none;
}
.sidenav-root-menu .selectedNavLink {
  display: flex !important;
  height: 60px;
  width: auto;
  color: #21bedd;
}
.sidenav-root-menu .selectedNavLink:hover {
  text-decoration: none;
}
.sidenav-root-menu .selectedNavLink .icon,
.sidenav-root-menu .selectedNavLink .anticon {
  color: #21bedd;
}
.sidenav-root-menu .selectedNavLink .item-title {
  color: #21bedd;
}
.sidenav-root-menu-item {
  font-size: 16px;
  font-family: "RobotoMedium";
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav-root-menu-item > .anticon {
  width: 50px;
  margin: 0 20px 0 0!important;
  display: flex;
  justify-content: center;
}
.sidenav-root-menu-item > .icon {
  width: 50px;
  margin: 0 20px 0 0!important;
  display: flex;
  justify-content: center;
}
.sidenav-root-menu-short .selectedNavLink {
  display: flex !important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.sidenav-root-menu-short .selectedNavLink > .sidenav-root-menu-item {
  margin: auto !important;
}
.sidenav-root-menu-short .selectedNavLink .icon,
.sidenav-root-menu-short .selectedNavLink .anticon {
  color: #21bedd;
}
.sidenav-root-menu-short .selectedNavLink .item-title {
  color: #21bedd;
}
.sidenav-root-menu-short .sidenav-root-menu-item {
  display: flex;
  font-size: 16px;
  font-family: "RobotoMedium";
}
.sidenav-root-menu-short .sidenav-root-menu-item > .item-title {
  display: none;
}
.sidenav-root-menu-short .sidenav-root-menu-item > .icon {
  margin: auto;
}
.sidenav-root-menu-short .sidenav-root-menu-item > .anticon {
  margin: auto;
}
.site-link {
  margin: 40px 0 0 60px;
}
