/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.patient-contacts {
  position: relative;
}
.patient-contacts-block {
  position: relative;
  width: 100%;
  display: flex;
}
.patient-contacts-title {
  position: relative;
  width: 100%;
  color: #0495ff;
  font-size: 14px;
  font-family: 'RobotoMedium';
  text-transform: uppercase;
  margin-bottom: 40px;
}
.patient-contacts-title:nth-child(3) {
  margin-bottom: 20px;
}
.patient-contacts-avatar {
  position: relative;
  padding: 0 25px;
  margin-right: 50px;
}
.patient-contacts-avatar .profileAvatar-size-large {
  margin-bottom: 0;
}
.patient-contacts-avatar .profileAvatar-size-large .profileImg {
  width: 120px;
  height: 120px;
}
.patient-contacts-controls {
  display: flex;
  justify-content: center;
}
.patient-contacts-controls .file-upload {
  position: relative;
  padding: 2px 7px;
  width: 40px;
  overflow: hidden;
  color: #999;
}
.patient-contacts-controls .file-upload:hover {
  color: #000;
  cursor: pointer;
}
.patient-contacts-controls .file-upload-label {
  display: flex;
  color: inherit;
  justify-content: center;
  padding-top: 11px;
}
.patient-contacts-controls .file-upload-input {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
}
.patient-contacts-controls .btn {
  transition: none;
}
.patient-contacts-controls .btn .icon,
.patient-contacts-controls .btn .anticon {
  color: #999;
}
.patient-contacts-controls .btn:hover {
  border: none;
}
.patient-contacts-controls .btn:hover .icon,
.patient-contacts-controls .btn:hover .anticon {
  color: #344051;
}
.patient-contacts-controls .btn:focus {
  background-color: transparent;
}
.patient-contacts-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.patient-contacts-info .input-root {
  margin-bottom: 20px;
}
.patient-contacts-info .input-root:nth-child(1) {
  width: 100%;
}
.patient-contacts-info .input-root:nth-child(2) {
  width: 47.5%;
}
.patient-contacts-info .input-root:nth-child(3) {
  width: 47.5%;
  margin-left: auto;
}
.patient-contacts-info .input-root:nth-child(4) {
  width: 100%;
}
.patient-contacts-info .input-root-focus {
  margin-bottom: 20px;
}
.patient-contacts-info .input-root-focus:nth-child(1) {
  width: 100%;
}
.patient-contacts-info .input-root-focus:nth-child(2) {
  width: 47.5%;
}
.patient-contacts-info .input-root-focus:nth-child(3) {
  margin-left: auto;
  width: 47.5%;
}
.patient-contacts-info .input-root-focus:nth-child(4) {
  width: 100%;
}
.patient-contacts-password {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.patient-contacts-password .input-root {
  max-width: 290px;
  margin-bottom: 20px;
}
.patient-contacts-saveBtn {
  margin-bottom: 30px;
}
