/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.popover-btn {
  display: inline-flex;
  background-color: transparent;
  position: relative;
}
.popover-btn .btn-size-icon {
  border: none;
  position: relative;
  background-color: transparent;
}
.popover-btn .btn-size-icon .icon {
  color: #344051;
  border: none;
  background-color: transparent;
}
.popover-btn .btn-size-icon:hover {
  border: none;
}
.popover-btn .btn-size-icon:hover .icon {
  color: #0495ff;
  border: none;
}
.popover-btn .btn-size-icon:focus {
  background-color: transparent;
  color: #0495ff;
  border: none;
  outline: 0;
}
.popover-file-body {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 345px;
  position: relative;
  padding: 25px 45px 45px 30px!important;
}
.popover-file-body .add-files {
  margin-top: 30px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.popover-file-body .add-files .add-new-file-upload button {
  position: static;
  margin-right: 5px;
}
.popover-file-body .btn {
  position: absolute;
  bottom: 25px;
  right: 20px;
}
.popover-file-body .popover-file-block {
  word-break: break-word;
}
.popover-num {
  background-color: transparent;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  color: #344051;
  font-family: GothamPro-Medium;
  font-size: 13px;
  line-height: 1;
  top: -18px;
  left: 24px;
}
.popover-num.active {
  background-color: #fdc401;
  color: #fff;
}
