
.homework-list-item {
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  &:hover {
    background-color: rgba(#21bedd, 0.1);
  }

  .flex-col {
    padding: 25px 0;
    text-align: center;
    margin-right: 1%;
    font-size: 14px;
    line-height: 22px;
    color: #111111;
    font-family: "RobotoRegular", sans-serif;
    &:first-child {
      margin-left: 1%;
    }
    &:nth-child(1) {
      width: 10%;
    }
    &:nth-child(2) {
      width: 10%;
    }
    &:nth-child(3) {
      width: 10%;
    }
    &:nth-child(4) {
      width: 13%;
    }
    &:nth-child(5) {
      width: 40%;
    }
    &:nth-child(6) {
      width: 10%
    }
    .name {
      font-size: 14px;
      line-height: 24px;
      color: #21bedd;
      font-family: "RobotoBlack", sans-serif;
      font-weight: 800;
    }
    .training-date {
      .time {
        font-size: 12px;
        line-height: 26px;
        color: #777;
      }
    }
  }
}
