.new-select-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #111;
  justify-content: space-between;
}
.new-select-wrapper .ant-select {
  width: 100%;
  z-index: 1;
  font: 14px/30px "RobotoMedium", serif;
  color: #111;
}
.new-select-wrapper .ant-select .ant-select-selection {
  border: none;
  background: transparent;
  box-shadow: none;
}
.new-select-wrapper .ant-select .ant-select-selection .ant-select-selection__rendered ul li {
  border-radius: 11px;
  background-color: #21bedd;
}
.new-select-wrapper .ant-select .ant-select-selection .ant-select-selection__rendered ul li:last-child {
  background-color: transparent;
}
.new-select-wrapper .ant-select-open {
  outline: none;
  border: none;
}
.new-select-wrapper label {
  font: 14px/20px "RobotoMedium", serif;
  position: absolute;
  left: 0;
  width: 100%;
  top: 7px;
  color: #111;
  transition: 0.1s;
  z-index: 0;
  letter-spacing: 0.5px;
}
.new-select-wrapper label.bubble,
.new-select-wrapper .ant-select-open ~ label {
  top: -14px;
  font-size: 12px;
  transition: 0.3s;
}
.new-select-wrapper .note {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #999;
  color: #999;
  cursor: pointer;
  line-height: 15px;
  font-size: 15px;
  background: none;
  outline: none;
  z-index: 1;
}
.new-select-variants {
  font: 14px/20px "RobotoMedium", serif;
}
.new-select-variants .ant-select-dropdown-menu-item {
  color: #111;
}
