/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.reportBugModal {
  padding: 25px;
}
.reportBugModal .reportBugModal-txtarea {
  margin-bottom: 30px;
}
.reportBugModal .reportBugModal-txtarea .textarea-field {
  height: 250px;
}
