@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icon.eot?yaciy9');
  src:  url('fonts/icon.eot?yaciy9#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?yaciy9') format('truetype'),
    url('fonts/icon.woff?yaciy9') format('woff'),
    url('fonts/icon.svg?yaciy9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconHome:before {
  content: "\e900";
}
.icon-remove:before {
  content: "\e901";
}
.icon-add-button:before {
  content: "\e902";
}
.icon-alarm:before {
  content: "\e903";
}
.icon-archive-box:before {
  content: "\e904";
}
.icon-arrow_down:before {
  content: "\e905";
}
.icon-arrow_left:before {
  content: "\e906";
}
.icon-arrow_right:before {
  content: "\e907";
}
.icon-arrow_up:before {
  content: "\e908";
}
.icon-arrow2_left:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e90a";
}
.icon-caution:before {
  content: "\e90b";
}
.icon-chat:before {
  content: "\e90c";
}
.icon-chat1:before {
  content: "\e90d";
}
.icon-circle_arrow_down:before {
  content: "\e90e";
}
.icon-circle_arrow_left:before {
  content: "\e90f";
}
.icon-circle_arrow_right:before {
  content: "\e910";
}
.icon-circle_arrow_up:before {
  content: "\e911";
}
.icon-circle_close:before {
  content: "\e912";
}
.icon-circle_plus:before {
  content: "\e913";
}
.icon-clip:before {
  content: "\e914";
}
.icon-clock:before {
  content: "\e915";
}
.icon-close:before {
  content: "\e916";
}
.icon-dashboard:before {
  content: "\e917";
}
.icon-download:before {
  content: "\e918";
}
.icon-emergency-call:before {
  content: "\e919";
}
.icon-emoticon-face:before {
  content: "\e91a";
}
.icon-empty:before {
  content: "\e91b";
}
.icon-end-call-button:before {
  content: "\e91c";
}
.icon-enter:before {
  content: "\e91d";
}
.icon-exit:before {
  content: "\e91e";
}
.icon-file-download:before {
  content: "\e91f";
}
.icon-file:before {
  content: "\e920";
}
.icon-hint:before {
  content: "\e921";
}
.icon-incoming-calls:before {
  content: "\e922";
}
.icon-left-arrow-forward_small:before {
  content: "\e923";
}
.icon-mail:before {
  content: "\e924";
}
.icon-marker:before {
  content: "\e925";
}
.icon-no:before {
  content: "\e926";
}
.icon-notification:before {
  content: "\e927";
}
.icon-order-form:before {
  content: "\e928";
}
.icon-pdf-file:before {
  content: "\e929";
}
.icon-people:before {
  content: "\e92a";
}
.icon-phone-call-outcoming:before {
  content: "\e92b";
}
.icon-play-button:before {
  content: "\e92c";
}
.icon-plus:before {
  content: "\e92d";
}
.icon-printer:before {
  content: "\e92e";
}
.icon-result:before {
  content: "\e92f";
}
.icon-result2:before {
  content: "\e930";
}
.icon-right-arrow-forward_small:before {
  content: "\e931";
}
.icon-search:before {
  content: "\e932";
}
.icon-setting_edit:before {
  content: "\e933";
}
.icon-star:before {
  content: "\e934";
}
.icon-telephone:before {
  content: "\e935";
}
.icon-upload:before {
  content: "\e936";
}
.icon-video-camera:before {
  content: "\e937";
}
.icon-volume:before {
  content: "\e938";
}
.icon-xls-file:before {
  content: "\e939";
}
.icon-mark:before {
  content: "\e93a";
}
.icon-menu:before {
  content: "\e93b";
}
.icon-heart_filled:before {
  content: "\e93c";
}
.icon-heart_outline:before {
  content: "\e93d";
}
.icon-toy_kids:before {
  content: "\e93e";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-location2:before {
  content: "\e948";
}
