@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?alxr73');
  src:  url('fonts/icomoon.eot?alxr73#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?alxr73') format('truetype'),
    url('fonts/icomoon.woff?alxr73') format('woff'),
    url('fonts/icomoon.svg?alxr73#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\e938";
}
.icon-arrow_left:before {
  content: "\e900";
}
.icon-arrow_right:before {
  content: "\e901";
}
.icon-arrow_up:before {
  content: "\e902";
}
.icon-arrow_down:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-circle_arrow_left:before {
  content: "\e906";
}
.icon-circle_arrow_right:before {
  content: "\e907";
}
.icon-circle_arrow_up:before {
  content: "\e908";
}
.icon-circle_arrow_down:before {
  content: "\e909";
}
.icon-circle_plus:before {
  content: "\e90a";
}
.icon-circle_close:before {
  content: "\e90b";
}
.icon-arrow2_left:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-clock:before {
  content: "\e90e";
}
.icon-clip:before {
  content: "\e90f";
}
.icon-setting_edit:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-order-form:before {
  content: "\e912";
}
.icon-add-button:before {
  content: "\e913";
}
.icon-bonus:before {
  content: "\e914";
}
.icon-camera:before {
  content: "\e915";
}
.icon-card .path1:before {
  content: "\e916";
  color: rgb(107, 190, 161);
}
.icon-card .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(73, 134, 121);
}
.icon-card .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(73, 134, 121);
}
.icon-card .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(73, 134, 121);
}
.icon-card .path5:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(73, 134, 121);
}
.icon-card .path6:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(240, 196, 27);
}
.icon-card .path7:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(243, 213, 92);
}
.icon-card .path8:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(240, 196, 27);
}
.icon-card .path9:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(243, 213, 92);
}
.icon-card .path10:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(243, 213, 92);
}
.icon-card .path11:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(243, 213, 92);
}
.icon-card .path12:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(243, 213, 92);
}
.icon-card .path13:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(73, 134, 121);
}
.icon-card .path14:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(73, 134, 121);
}
.icon-card .path15:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(73, 134, 121);
}
.icon-card .path16:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(73, 134, 121);
}
.icon-card .path17:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(73, 134, 121);
}
.icon-card .path18:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(73, 134, 121);
}
.icon-card .path19:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(73, 134, 121);
}
.icon-credit-card:before {
  content: "\e929";
}
.icon-document:before {
  content: "\e92a";
}
.icon-download:before {
  content: "\e92b";
}
.icon-exit:before {
  content: "\e92c";
}
.icon-facebook:before {
  content: "\e92d";
}
.icon-file-download:before {
  content: "\e92e";
}
.icon-gift:before {
  content: "\e92f";
}
.icon-google:before {
  content: "\e930";
}
.icon-guitar:before {
  content: "\e931";
}
.icon-home:before {
  content: "\e932";
}
.icon-microphone:before {
  content: "\e933";
}
.icon-notification:before {
  content: "\e934";
}
.icon-question:before {
  content: "\e935";
}
.icon-twitter:before {
  content: "\e936";
}
.icon-upload:before {
  content: "\e937";
}
.icon-user:before {
  content: "\e93b";
}
.icon-vk:before {
  content: "\e93c";
}
.icon-youtube:before {
  content: "\e93d";
}
.icon-remove:before {
  content: "\e93e";
}
.icon-add-button1:before {
  content: "\e93f";
}
.icon-alarm:before {
  content: "\e940";
}
.icon-archive-box:before {
  content: "\e941";
}
.icon-arrow_down1:before {
  content: "\e942";
}
.icon-arrow_left1:before {
  content: "\e943";
}
.icon-arrow_right1:before {
  content: "\e944";
}
.icon-arrow_up1:before {
  content: "\e945";
}
.icon-arrow2_left1:before {
  content: "\e946";
}
.icon-calendar1:before {
  content: "\e947";
}
.icon-caution:before {
  content: "\e948";
}
.icon-chat:before {
  content: "\e949";
}
.icon-chat1:before {
  content: "\e94a";
}
.icon-circle_arrow_down1:before {
  content: "\e94b";
}
.icon-circle_arrow_left1:before {
  content: "\e94c";
}
.icon-circle_arrow_right1:before {
  content: "\e94d";
}
.icon-circle_arrow_up1:before {
  content: "\e94e";
}
.icon-circle_close1:before {
  content: "\e94f";
}
.icon-circle_plus1:before {
  content: "\e950";
}
.icon-clip1:before {
  content: "\e951";
}
.icon-clock1:before {
  content: "\e952";
}
.icon-close1:before {
  content: "\e953";
}
.icon-dashboard:before {
  content: "\e954";
}
.icon-download1:before {
  content: "\e955";
}
.icon-emergency-call:before {
  content: "\e956";
}
.icon-emoticon-face:before {
  content: "\e957";
}
.icon-empty:before {
  content: "\e958";
}
.icon-end-call-button:before {
  content: "\e959";
}
.icon-enter:before {
  content: "\e95a";
}
.icon-exit1:before {
  content: "\e95b";
}
.icon-file-download1:before {
  content: "\e95c";
}
.icon-file:before {
  content: "\e95d";
}
.icon-hint:before {
  content: "\e95e";
}
.icon-incoming-calls:before {
  content: "\e95f";
}
.icon-left-arrow-forward_small:before {
  content: "\e960";
}
.icon-mail:before {
  content: "\e961";
}
.icon-marker:before {
  content: "\e962";
}
.icon-no:before {
  content: "\e963";
}
.icon-notification1:before {
  content: "\e964";
}
.icon-order-form1:before {
  content: "\e965";
}
.icon-pdf-file:before {
  content: "\e966";
}
.icon-people:before {
  content: "\e967";
}
.icon-phone-call-outcoming:before {
  content: "\e968";
}
.icon-play-button:before {
  content: "\e969";
}
.icon-plus1:before {
  content: "\e96a";
}
.icon-printer:before {
  content: "\e96b";
}
.icon-result:before {
  content: "\e96c";
}
.icon-result2:before {
  content: "\e96d";
}
.icon-right-arrow-forward_small:before {
  content: "\e96e";
}
.icon-search1:before {
  content: "\e96f";
}
.icon-setting_edit1:before {
  content: "\e970";
}
.icon-star:before {
  content: "\e971";
}
.icon-telephone:before {
  content: "\e972";
}
.icon-upload1:before {
  content: "\e973";
}
.icon-video-camera:before {
  content: "\e974";
}
.icon-volume:before {
  content: "\e975";
}
.icon-xls-file:before {
  content: "\e976";
}
.icon-mark:before {
  content: "\e977";
}
.icon-menu:before {
  content: "\e978";
}
.icon-heart_filled:before {
  content: "\e979";
}
.icon-heart_outline:before {
  content: "\e97a";
}
.icon-toy_kids:before {
  content: "\e97b";
}
