.chat-row{
    display: flex;
    flex-direction: row;
}

.chat-col-dialogs{
    width: 25%;
    max-width: 950px;
}

.chat-col-mediaArea{
    width: 75%;
    min-width: 950px;
    margin-right: 15px;
}

@media(max-width: 1540px){
    .chat-row{
        flex-direction: column;
    }

    .chat-col-mediaArea{
        width: 1050px;
        margin-right: 0px;
    }
}
