.doctorProfileCard {
  width: 340px;
  text-align: center;
  padding: 52px 20px;
}
.doctorProfileCard-name {
  margin-bottom: 15px;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}
.doctorProfileCard-specialty {
  color: #204d8d;
  font-size: 12px;
  margin-bottom: 37px;
  text-transform: uppercase;
  font-family: "RobotoMedium";
}
.doctorProfileCard-short {
  width: 170px;
  text-align: center;
  padding: 35px 15px 45px 15px;
}
.patientProfileCard {
  width: 340px;
  text-align: center;
  padding: 30px 20px 15px 20px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
}
.patientProfileCard-short {
  width: 170px;
  text-align: center;
  padding: 30px 20px 15px 20px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
}
