.top-panel {
  position: relative;
  overflow: hidden;
  padding: 0.45rem 0;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  border-radius: 12px;
  margin-bottom: 15px !important;
}
.top-panel:before {
  content: '';
  background-image: url(../../img/icon-fasol/footer-people.png);
  background-repeat: no-repeat;
  width: 70vw;
  height: 53vw;
  border: none;
  border-radius: 100%;
  position: absolute;
  left: -14vw;
  top: -12vw;
}
.top-panel-description {
  z-index: 2;
  padding-left: 10px;
  max-width: 40%;
  font-style: italic;
  font-weight: bold;
  margin-right: 120px;
}
.top-panel-description-h3 {
  color: #ffc800;
  font-size: 20px;
  font-style: italic;
}
.flexCol {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
