.top-panel {
  position: relative;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  margin-bottom: 15px !important;
  background: #fff url(../../img/icon-fasol/footer-people.png) no-repeat left;
  background-size: auto 100%;
}
.top-panel-description {
  z-index: 2;
  max-width: 35%;
  font-style: italic;
  font-weight: bold;
  margin-right: 60px;
  min-width: 400px;
}
.top-panel-description-title {
  color: #ffc800;
  font-size: 20px;
  line-height: 24px;
  font-family: RobotoMediumItalic, sans-serif;
  max-width: 500px;
  display: inline-block;
  font-style: italic;
}
.top-panel-description-body {
  font-size: 12px;
  line-height: 18px;
  font-family: RobotoRegularItalic, sans-serif;
  color: #111;
  max-width: 600px;
}
.top-panel-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
}
@media screen and (max-width: 1560px) {
  .top-panel {
    background-position: -150px;
  }
}
@media screen and (max-width: 1420px) {
  .top-panel {
    background-position: -230px;
  }
}
.flexCol {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
