/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.treatment {
  display: flex;
  align-items: stretch;
  width: 100%;
  cursor: pointer;
}
.treatment .flex-col {
  padding: 25px 0;
  margin-right: 2%;
}
.treatment .flex-col:first-child {
  margin-left: 1%;
}
.treatment .flex-col:last-child {
  margin-right: 1%;
}
.treatment .flex-col:nth-child(1) {
  width: 13%;
}
.treatment .flex-col:nth-child(2) {
  width: 7%;
}
.treatment .flex-col:nth-child(3) {
  width: 15%;
}
.treatment .flex-col:nth-child(4) {
  width: 11%;
}
.treatment .flex-col:nth-child(5) {
  width: 6%;
}
.treatment .flex-col:nth-child(6) {
  width: 10%;
}
.treatment .flex-col:nth-child(7) {
  width: 16%;
}
.treatment .flex-col:nth-child(8) {
  width: 6%;
}
.treatment .patient-name {
  font-size: 14px;
  line-height: 18px;
}
.treatment .patient-date {
  color: #344051;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 15px;
}
.treatment .patient-time {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 15px;
  color: #999;
}
.treatment .patient-diagnostic {
  font-size: 14px;
  color: #344051;
}
.treatment .patient-comment {
  font-size: 14px;
  color: #344051;
}
.treatment .patient-price {
  font-size: 14px;
  color: #344051;
}
.treatment .patient-conclusion {
  font-size: 14px;
  color: #344051;
  max-width: 205px;
  width: 100%;
  margin-bottom: 15px;
}
.treatment .patient-review {
  font-size: 14px;
  color: #344051;
}
