.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    &-search {
        width: 100%;
        max-width: 300px;
        z-index: 12;
    }
    &-train {
        margin-left: auto;
        margin-right: 135px;
        button {
            &:last-child {
                margin-right: 0;
            }
        }
        @media screen and(max-width: 1420px) {
            margin-right: auto;
        }
    }
    &-notification {
        position: relative;
        margin-right: 65px;
        .icon {
            cursor: pointer;
            &:hover {
                color: #21bedd;
            }
        }
    }
    &-exit {
        .btn {
            width: auto;
            height: auto;
            background-color: transparent;
            border: none;
            .icon {
                color: #344051;
            }
            &:hover {
                border: none;
                background-color: transparent;
                .icon {
                    color: #21bedd;
                }
            }
        }
    }
}

.header-btn {
    width: 190px;
}

.header-btn-transfer {
    margin-left: 40px;
}
