.trainings {
    position: relative;
    &-all {
        .tableheader {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px 30px;
            background-color: #fff;
            border: none;
            z-index: 99;
            top: 0;
            &-name {
                font-size: 12px;
                letter-spacing: 0;
                line-height: 18px;
                color: #111111;
                font-family: "RobotoMediumItalic", sans-serif;
                text-transform: uppercase;
                white-space: nowrap;
            }
            &.menu-header {
                padding: 20px 0;
                background-color: #fff2f6;
                justify-content: flex-start;
                .flex-col {
                    text-align: center;
                    margin-right: 1%;
                    &:first-child {
                        margin-left: 1%;
                    }
                    &:nth-child(1) {
                        width: 10%;
                    }
                    &:nth-child(2) {
                        width: 10%;
                    }
                    &:nth-child(3) {
                        width: 10%;
                    }
                    &:nth-child(4) {
                        width: 13%;
                    }
                    &:nth-child(5) {
                        width: 40%;
                    }
                    &:nth-child(6) {
                        width: 10%
                    }
                }
            }


        }
        .table-footer {
            height: 96px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
