.switch-panel {
  display: flex;
  align-items: center;
}
.switch-panel .icon {
  color: #21bedd;
  font-size: 32px !important;
  margin-right: 15px;
}
.switch-panel-checked .icon {
  color: #ef5350;
}
.switch-panel-title {
  font-size: 14px;
  line-height: 1;
  color: #344051;
  margin-right: 25px;
}
