/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.cancelVisitModal {
  padding: 20px 30px 40px 30px;
}
.cancelVisitModal-txtarea {
  margin-bottom: 12px;
}
.cancelVisitModal-upload {
  display: block;
  margin-bottom: 0px;
}
.cancelVisitModal-datepickers {
  margin-bottom: 20px;
}
.cancelVisitModal .datepicker-base {
  margin-bottom: 5px;
}
.cancelVisitModal .ant-rate-star {
  outline: 0;
}
.cancelVisitModal-dpAdd {
  display: flex;
  margin-bottom: 40px;
}
.cancelVisitModal .rate-number {
  font-size: 25px;
  color: #fdc401;
  display: inline-block;
  margin-left: 10px;
}
