.create-profile-form .steps .ant-steps {
  padding: 25px 70px;
  background-color: #ff7daa;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.create-profile-form .steps .ant-steps .ant-steps-item-process .ant-steps-item-content .ant-steps-item-title:after {
  background-color: #ffa4c4;
}
.create-profile-form .steps .ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background: #7544ea;
  border: 0;
}
.create-profile-form .steps .ant-steps .ant-steps-item-process .ant-steps-item-icon span.ant-steps-icon {
  color: #fd7daa;
  font-family: "RobotoMedium", serif;
}
.create-profile-form .steps .ant-steps .ant-steps-item-wait .ant-steps-item-content .ant-steps-item-title:after {
  background-color: #ffa4c4;
}
.create-profile-form .steps .ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background: #ffa4c4;
  border: 0;
}
.create-profile-form .steps .ant-steps .ant-steps-item-wait .ant-steps-item-icon span.ant-steps-icon {
  display: none;
}
.create-profile-form .steps .ant-steps .ant-steps-item-finish .ant-steps-item-content .ant-steps-item-title:after {
  background-color: #7544ea;
}
.create-profile-form .steps .ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background: #7544ea;
  border: 0;
}
.create-profile-form .steps .ant-steps .ant-steps-item-finish .ant-steps-item-icon span.ant-steps-icon {
  color: #fd7daa;
  font-family: "RobotoMedium", serif;
  line-height: 30px;
}
.create-profile-form .steps .ant-steps .ant-steps-item-finish .ant-steps-item-icon span.ant-steps-icon i:before {
  display: none;
}
.create-profile-form .steps .steps-content {
  margin: 0;
  padding: 30px 70px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .step-title {
  font-family: "RobotoBlackItalic", serif;
  font-size: 36px;
  line-height: 36px;
  color: #111;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.create-profile-form .steps .steps-content .ant-form.step-form .step-note {
  font-family: "RobotoRegularItalic", serif;
  font-size: 14px;
  line-height: 22px;
  color: #111;
  margin-bottom: 20px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .step-form-row {
  display: flex;
  width: 100%;
}
.create-profile-form .steps .steps-content .ant-form.step-form .step-form-row .ant-row.ant-form-item {
  width: 100%;
  margin-right: 40px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .step-form-row .ant-row.ant-form-item:last-child {
  margin-right: 0;
}
.create-profile-form .steps .steps-content .ant-form.step-form .step-form-row .authPopup {
  float: right;
}
.create-profile-form .steps .steps-content .ant-form.step-form .step-form-row .social-row {
  display: flex;
  flex-direction: row;
  padding-left: 65px;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .step-form-row .social-row-icon {
  padding-top: 10px;
  padding-right: 10px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .step-form-row .social-row-link {
  padding-top: 7px;
  font-family: RobotoRegular;
}
.create-profile-form .steps .steps-content .ant-form.step-form .step-form-row .social-row-btn-link {
  margin-top: 10px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .step-form-row .social-row-btn-close {
  margin-top: 5px;
  width: 30px;
  justify-content: flex-end;
}
.create-profile-form .steps .steps-content .ant-form.step-form .radio-label {
  color: #000;
  font-family: RobotoMedium;
  padding-right: 30px;
  width: 220px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .timePlate {
  position: relative;
  top: -10px;
  left: -135px;
  font-size: 10px;
  width: 70px;
  height: 3px;
  font-family: RobotoRegular;
  color: #000;
}
.create-profile-form .steps .steps-content .ant-form.step-form .ant-slider {
  width: 200px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .ant-slider-rail {
  height: 1px;
  background-color: #000;
}
.create-profile-form .steps .steps-content .ant-form.step-form .ant-slider-track {
  background-color: #21bedd;
  height: 1px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .ant-slider-disabled .ant-slider-handle,
.create-profile-form .steps .steps-content .ant-form.step-form .ant-slider-disabled .ant-slider-track {
  display: none;
}
.create-profile-form .steps .steps-content .ant-form.step-form .ant-slider-handle {
  width: 7px;
  height: 7px;
  background-color: #21bedd;
  border: unset;
  margin-top: -3px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .ant-slider-handle:focus,
.create-profile-form .steps .steps-content .ant-form.step-form .ant-slider-handle:hover {
  box-shadow: 0 0 0 3px rgba(33, 190, 221, 0.65);
}
.create-profile-form .steps .steps-content .ant-form.step-form .timeSchedule {
  display: flex;
  flex-direction: row;
  user-select: none;
}
.create-profile-form .steps .steps-content .ant-form.step-form .dayCheckbox {
  width: 64px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .create-profile-avatar {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.create-profile-form .steps .steps-content .ant-form.step-form .create-profile-avatar .upload-avatar-title {
  font-family: "RobotoMedium", serif;
  font-size: 14px;
  color: #111;
  margin-bottom: 30px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .create-profile-avatar .react-dropzone-avatar {
  max-width: 200px;
  max-height: 200px;
  border-radius: 15px;
  border: 2px dashed #21bedd;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-profile-form .steps .steps-content .ant-form.step-form .create-profile-avatar .react-dropzone-avatar img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}
.create-profile-form .steps .steps-content .ant-form.step-form .create-profile-avatar .upload-avatar-photo-click {
  text-align: center;
  font-family: "RobotoRegular", serif;
  font-size: 14px;
  margin-top: 10px;
  color: #111;
}
.create-profile-form .steps .steps-content .ant-form.step-form .create-profile-social {
  width: 100%;
}
