
//.rbc-month-view{
//  background-color: white;
//  //height: 300px !important;
//}

.schedule-title{
  font-size: 32px;
  color: #344051;
}

.schedule-editBtn{
  text-align: center;
}

.rbc-month-view {
  .rbc-month-row, .rbc-header{
    background-color: white;
  }
}