.schedule-title {
  font-size: 32px;
  color: #344051;
}
.schedule-editBtn {
  text-align: center;
}
.rbc-month-view .rbc-month-row,
.rbc-month-view .rbc-header {
  background-color: white;
}
.cancel_rec {
  margin: 5px 0 25px 0;
  background-color: transparent;
}
