.schedule-title {
  font-size: 32px;
  color: #344051;
}
.schedule-editBtn {
  text-align: center;
}
.rbc-month-view > .rbc-month-row:nth-child(2) {
  margin-top: 60px;
}
.rbc-month-view > .rbc-month-row:last-child {
  margin-bottom: 100px;
}
.rbc-month-view .rbc-month-row,
.rbc-month-view .rbc-header {
  background-color: white;
}
