.ant-layout{
  background-color: #ddebf5;

  &-sider{
    flex: 0 0 340px !important;
    min-width: 340px !important;
    width: 340px !important;
    background-color: white;
    transition: 0.2s linear;
  }
  &-sider.collapsed{
    flex: 0 0 170px !important;
    min-width: 170px !important;
    width: 170px !important;
  }
  &-content{
    padding: 40px 30px;
  }
  &-header{
    background-color: white;
    height: 100px;
  }
  &-footer{
    background-color: transparent;
  }
}