.ant-layout {
  background-color: #ddebf5;
}
.ant-layout-sider {
  flex: 0 0 340px !important;
  min-width: 340px !important;
  width: 340px !important;
  background-color: white;
  transition: 0.2s linear;
}
.ant-layout-sider.collapsed {
  flex: 0 0 170px !important;
  min-width: 170px !important;
  width: 170px !important;
}
.ant-layout-content {
  padding: 40px 30px;
}
.ant-layout-header {
  background-color: white;
  height: 100px;
}
.ant-layout-footer {
  background-color: transparent;
}
.main {
  display: flex;
  flex-wrap: wrap;
  background-color: #dfedf7;
  overflow: hidden;
  background-size: 130%;
}
.main-sidebar {
  position: relative;
  width: 100%;
  max-width: 340px;
  min-height: 880px;
  display: flex;
  transition: 0.2s linear;
  z-index: 10;
  background-color: #fff;
}
.main-sidebar .sidenav-root {
  position: fixed;
  background-color: #fff;
  min-height: 880px;
}
.main-sidebar.collapsed {
  max-width: 170px;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  transition: 0.2s linear;
  width: calc(100% - 340px);
  min-height: calc(100vh - 80px);
}
.main-wrapper.collapsed {
  width: calc(100% - 170px);
  max-width: none;
}
.main-wrapper.collapsed .main-header {
  width: calc(100% - 170px);
}
.main-header {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: calc(100% - 340px);
  height: 100px;
  padding: 24px 45px 24px 35px;
  border-bottom: 1px solid #e8e8e8;
  align-items: center;
  z-index: 30;
}
.main-header .sidenav-root-btn {
  position: absolute;
  left: -11px;
  top: 89px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  outline-width: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.main-content {
  margin-top: 100px;
  padding: 40px 50px 40px 30px;
}
.main-footer {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-footer-item {
  color: #344051;
}
.main-footer-item.company {
  font-size: 16px;
  margin-right: 20px;
}
.main-footer-item.copirate {
  font-size: 12px;
  letter-spacing: 0.12px;
}
button {
  outline: none!important;
}
#bugfix {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background: url("../../img/bugfix.png");
  cursor: pointer;
  background-size: 100px 100px;
  z-index: 9999999999999999999;
  border: 0;
  outline: 0;
}
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__thumb-x,
.ps__thumb-y {
  background-color: #0495ff !important;
}
.ps__rail-y,
.ps__rail-x {
  z-index: 6;
}

