body{
	min-width: 1300px;
}

.ant-layout {
    background-color: #ddebf5;

    &-sider {
        flex: 0 0 340px !important;
        min-width: 340px !important;
        width: 340px !important;
        background-color: white;
        transition: 0.2s linear;
    }
    &-sider.collapsed {
        flex: 0 0 170px !important;
        min-width: 170px !important;
        width: 170px !important;
    }
    &-content {
        padding: 40px 30px;
    }
    &-header {
        background-color: white;
        height: 100px;
    }
    &-footer {
        background-color: transparent;
    }
}

.main {
    display: flex;
    flex-wrap: wrap;
    background-color: #dfedf7;
    overflow: hidden; ///background-image: url("../../img/main-bg.svg");
    background-size: 130%;
    //background-position: -33vw -15vw;
    //background-repeat: no-repeat;

    &-sidebar {
        position: relative;
        width: 100%;
        max-width: 340px;
        min-height: 880px;
        display: flex;
        transition: 0.2s linear;
        z-index: 10;
        background-color: #fff;

        .sidenav-root {
            position: fixed;
            background-color: #fff;
            min-height: 880px;
        }

        &.collapsed {
            max-width: 170px;
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        transition: 0.2s linear;
        width: ~"calc(100% - 340px)";
        min-height: ~"calc(100vh - 80px)";

        &.collapsed {
            width: ~"calc(100% - 170px)";
            max-width: none;

            .main-header{
                width: ~"calc(100% - 170px)";
                min-width: ~"calc(1300px - 170px)";
            }
        }
    }

    &-header {
        position: fixed;
        top: 0;
        background-color: #fff;
        width: ~"calc(100% - 340px)";
        height: 100px;
        padding: 24px 45px 24px 35px;
        border-bottom: 1px solid #e8e8e8;
        align-items: center;
        z-index: 30;
        min-width: ~'calc(1300px - 340px)';

        .sidenav-root-btn {
            position: absolute;
            left: -11px;
            top: 89px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            outline-width: 0;
            border: 0;
            padding: 0;
            cursor: pointer;
        }
    }

    &-content {
        margin-top: 100px;
        padding: 40px 50px 40px 30px;
    }

    &-footer {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-item {
            color: #344051;

            &.company {
                font-size: 16px;
                margin-right: 20px;
            }

            &.copirate {
                font-size: 12px;
                letter-spacing: 0.12px;
            }
        }
    }
}
button {
    outline: none!important;
}

#bugfix {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: url("../../img/bugfix.png");
    cursor: pointer;
    background-size: 100px 100px;
    z-index: 999;
    border: 0;
    outline: 0;
}

.emergencyCall{
    position: fixed;
    z-index: 1000;
    bottom: 25px;
    right: 10px;
    border: none;
    border-radius: 40px;
    height: 40px;
    padding: 0 15px;
    background-color: #ef5350;
    color: #fff;
    /* font-size: 18px; */
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation-iteration-count: infinite;
}

.emergencyCall:hover{
    animation: none;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  }

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__thumb-x, .ps__thumb-y {
    background-color: #0495ff!important;
}
.ps__rail-y, .ps__rail-x {
 z-index:6;
}
