/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.overflow-x-a {
  overflow-x: auto;
  width: 100%;
}
.receptions {
  display: flex;
  align-items: flex-start;
  position: relative;
  border-left: 4px solid transparent;
  cursor: pointer;
}
.receptions:hover {
  background-color: #fffbec;
}
.receptions .flex-col {
  padding: 25px 0;
  margin-right: 2%;
}
.receptions .flex-col:first-child {
  margin-left: 1%;
}
.receptions .flex-col:last-child {
  margin-right: 1%;
}
.receptions .flex-col:nth-child(1) {
  width: 13%;
}
.receptions .flex-col:nth-child(2) {
  position: relative;
  width: 7%;
}
.receptions .flex-col:nth-child(3) {
  width: 15%;
}
.receptions .flex-col:nth-child(4) {
  width: 11%;
}
.receptions .flex-col:nth-child(5) {
  width: 6%;
}
.receptions .flex-col:nth-child(6) {
  width: 10%;
}
.receptions .flex-col:nth-child(7) {
  width: 16%;
}
.receptions .flex-col:nth-child(8) {
  width: 6%;
}
.receptions .patient-name {
  font-size: 14px;
  line-height: 18px;
}
.receptions .patient-date {
  color: #344051;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 15px;
}
.receptions .patient-time {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 15px;
  color: #999;
}
.receptions .patient-diagnostic {
  font-size: 14px;
  color: #344051;
}
.receptions .patient-comment {
  font-size: 14px;
  color: #344051;
}
.receptions .patient-price {
  font-size: 14px;
  color: #344051;
}
.receptions .patient-conclusion {
  font-size: 14px;
  color: #344051;
  max-width: 205px;
  width: 100%;
  margin-bottom: 15px;
}
.receptions .patient-review {
  font-size: 14px;
  color: #344051;
}
.receptions-status {
  font-size: 12px;
  color: #344051;
  display: inline-block;
  position: absolute;
  left: -16px;
  top: 22.5px;
}
.receptions-status:before {
  content: "";
  width: 7px;
  height: 8px;
  display: inline-block;
  margin-right: 12px;
  border-radius: 100%;
}
.receptions-status.new:before {
  background-color: #00c853;
}
.receptions-status.topical:before {
  background-color: #fdc401;
}
.receptions-status.completed:before {
  background-color: #344051;
}
.receptions-status.extra:before {
  background-color: #ef5350;
}
.receptions-status-extra {
  font-size: 12px;
  color: #344051;
  display: inline-block;
  position: absolute;
  left: -26px;
  top: 22.5px;
}
.receptions-status-extra:before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 12px;
  border-radius: 100%;
  background-color: #ef5350;
}
.receptions.new {
  background-color: #e4f6eb !important;
  border-left-color: #00c853;
}
.receptions.new:hover {
  background-color: #fffbec !important;
}
