/* fonts */
/* COLORS */
/* VAR */
.entry-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  color: #eee;
}
.doctor-item {
  display: flex;
  padding: 30px;
  border-bottom: 1px dashed #e1e1e1;
}
.doctor-item:last-child {
  border-bottom: 0;
}
.doctor-item-avatar {
  position: relative;
  margin-right: 20px;
}
.doctor-item-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.doctor-item-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.doctor-item-doctor__name {
  position: relative;
  color: #204d8d;
  line-height: 1;
  font-size: 14px;
  margin-right: 25px;
}
.doctor-item-doctor__specialty {
  position: relative;
  color: #999;
  line-height: 1;
  font-size: 12px;
}
.doctor-item-doctor__rating {
  position: relative;
  margin-left: auto;
  margin-top: -8px;
}
.doctor-item-text {
  color: #344051;
  font-size: 12px;
  line-height: 20px;
  font-family: 'GothamPro';
  margin-bottom: 20px;
}
.doctor-item:last-child {
  border-bottom: none;
}
