.myStudents .ant-card-body {
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px!important;
}
.myStudents .ant-card-body:before,
.myStudents .ant-card-body:after {
  display: none;
}
.myStudents-link {
  font-family: RobotoRegularItalic, sans-serif;
  font-size: 14px;
  color: #111;
}
.myStudents .noStudents {
  font-family: RobotoBlack, sans-serif;
  text-align: center;
  font-size: 20px;
  color: #777;
}
.myStudents-link {
  padding: 0 !important;
  padding-right: 8px !important;
  color: #000;
  display: inline-flex;
  flex-direction: row-reverse;
}
.myStudents-link .icon {
  margin: 0 10px;
  color: #000;
  font-size: 24px !important;
}
.myStudents-link span {
  color: #000;
}
.ant-card-head {
  border-radius: 10px 10px 0 0;
}
.ant-card-head-title {
  font-size: 20px;
  font-family: RobotoRegularItalic, sans-serif;
  padding-right: 0;
  color: #111;
  font-style: italic;
}
.no-trainings {
  margin-top: 20px;
}
