.nearTraining {
  display: flex;
  width: 100%;
  padding: 30px;
  flex-shrink: 0;
}
.nearTraining-circleDate {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  font-family: RobotoMedium, sans-serif;
  color: #333;
  line-height: 24px;
  margin-right: 20px;
}
.nearTraining-circleDate-date {
  font-size: 35px;
}
.nearTraining-circleDate-month {
  font-size: 16px;
}
.nearTraining-info {
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nearTraining-info-time {
  font-family: RobotoMedium, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.nearTraining-info-name {
  font-family: RobotoMedium, sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.nearTraining-info-discipline {
  font-family: RobotoRegularItalic, sans-serif;
  font-size: 12px;
  line-height: 24px;
}
