.myStudent {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 30px;
  border-bottom: 1px dashed #e1e1e1;
  padding-bottom: 30px;
}
.myStudent:last-child {
  border: none;
}
.myStudent-info {
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  margin-left: 20px;
  font-family: RobotoRegular, sans-serif;
}
.myStudent-info-name {
  color: #2abc6c;
  font-family: RobotoBlack, sans-serif;
  line-height: 18px;
  margin-right: 20px;
}
.myStudent-info-discipline {
  font-size: 12px;
  line-height: 24px;
  color: #777777;
}
.myStudent-info-lastMessage {
  color: #111;
  line-height: 20px;
  margin: 5px 0 20px 0;
  display: inline-block;
}
